<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    {% if request.session.username and request.session.uid %}
        <p> Welcome {{ request.session.username }} </p>
        <p> <a href="/user/logout">Log Out</a> </p>
        <p> <a href="/notebook/notebooks">Enter my note</a> </p>
    {% else %}
        {% if request.COOKIES.username and request.COOKIES.uid %}
            <p> Welcome {{ request.COOKIES.username }} </p>
            <p> <a href="/user/logout">Log Out</a> </p>
            <p> <a href="">Enter my note</a> </p>
        {% else %}
            <p><a href="/user/login">Login</a></p>
            <p><a href="/user/register">Register</a></p>
        {% endif %}
    {% endif %}

</body>
</html>
