<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebooks</title>
</head>
<body>
    {% if request.session.username and request.session.uid %}
        <p> {{ request.session.username }}'s notebooks </p>
        <p> <a href="/notebook/add">Add new note</a> </p>
        <p> <a href="/index">Back</a> </p>
    {% endif %}
    <table border="1px">
        <tr>
            <th>Title</th>
            <th>Created Time</th>
            <th>Updated Time</th>
            <th colspan="2">Operations</th>
        </tr>
        {% for notebook in notebooks %}
        <tr>
            <td>{{ notebook.title }}</td>
            <td>{{ notebook.created_time }}</td>
            <td>{{ notebook.updated_time }}</td>
            <td><a href="/notebook/update/{{ notebook.id }}">Update</a></td>
            <td><a href="/notebook/delete?notebook_id={{ notebook.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
